
</div>

<div class="container">
  <footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a href="/" class="nav-link px-2 text-light">Home</a></li>
      <li class="nav-item"><a href="/unglued" class="nav-link px-2 text-light">Unglued</a></li>
      <li class="nav-item"><a href="/unstable" class="nav-link px-2 text-light">Unstable</a></li>
      <li class="nav-item"><a href="/unsanctioned" class="nav-link px-2 text-light">Unsanctioned</a></li>
    </ul>
    <p class="text-center text-light">Portions of MTG Un-Cards are unofficial Fan Content permitted under the Wizards of the Coast Fan Content 
      Policy. The literal and graphical information presented on this site about Magic: The Gathering, 
      including card images, mana symbols, and Oracle text, is copyright Wizards of the Coast, LLC, a 
      subsidiary of Hasbro, Inc. MTG Un-Cards is not produced by or endorsed by Wizards of the Coast. </p>
  </footer>
</div>

</body>
</html>
