<%- include("partials/header") -%>

<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img class="d-block mx-lg-auto img-fluid" src="/images/knight-of-the-hokey-pokey.jpeg" loading="lazy" width="700" height="500">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold  lh-1 mb-3">Magic the Gathering <br/> Un-Cards</h1>
        <p class="lead">Silver-bordered cards were introduced in 1998 for Unglued, 
          the first Magic supplemental set and the first "joke set" and became tradition 
          for the following so-called Un-sets. Certain promos like the Holiday cards, the 2017 
          HASCON promos, and Ponies: The Galloping also used a silver border. </p>
      </div>
    </div>
  </div>
<div>
</div>



<%- include("partials/footer") -%>
