body {
    background-color: rgb(41, 41, 41)
}

div {
    color: white;
}

.blur-load {
    background-image: url(../images/mtg-card.jpg);
    background-size: cover;
    background-position: center;
}

.card-pack {
    padding: 1rem;
    background-color: white;
}