<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img class="d-block mx-lg-auto img-fluid card-pack" src="/images/unsanctioned.jpeg" loading="lazy" width="700" height="500">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">Unsanctioned</h1>
        <p class="lead">Unsanctioned is a silver-bordered box set, marketed as a ready-to-play "Un-set" 
            experience was released on February 28, 2020. The set combines reprints from previous 
            Un-sets with sixteen new Un-cards. It has a “wrestling match kind of flavor.” </p>
      </div>
    </div>
  </div>
<div>