<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img class="d-block mx-lg-auto img-fluid card-pack" src="/images/unstable.jpg" loading="lazy" width="700" height="500">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">Unstable</h1>
        <p class="lead">Unstable is a booster-based card set for Magic: The Gathering that can not
             be used in legal Magic tournaments. It was released on December 8, 2017 as a standalone
              set. This is the third of the silver-bordered Un-sets and is designed to be drafted. </p>
      </div>
    </div>
  </div>
<div>